*{margin: 0;padding: 0;font-family: 'Poppins', sans-serif;box-sizing: border-boxs;}

body{
  background-color: rgb(253, 188, 164); 
}
h3{
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Lexend Zetta', sans-serif;
  background-color: rgb(253, 188, 164); 
}

.pro{
  background-color: rgb(253, 188, 164); 
  width: 540px;
  height: 540px;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none; 
  scroll-snap-type: x mandatory;
}
.pro::-webkit-scrollbar {
  display: none;
}

.pro > .car{
  display: flex;
  flex-direction: column;
  scroll-snap-align: center;
}

#as > p{
  font-family: 'Metal', cursive;
  font-size: 18px
}
.pro > #as{
  padding-left: 100px;
  padding-right: 100px;
}
#mec{border-radius:30% 100% 0% 100% / 0% 100% 30% 100%;}

footer {
    background-color:darkslategrey;
    color:white;cursor: pointer;
    padding: 50px;
    text-align: center;font-size: large;font-style: oblique;
  }
.header{min-height: 100vh;width: 100%;}

.back {
    background-color: rgb(45, 45, 90);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

.item1 { grid-area: main;}
@keyframes slideIn{0%{opacity: 0;transform: translateX(-100%);}
           100%{opacity: 1;transform: translateX(0);}}

.item2 {grid-area: save;opacity: 0;animation: slidein 2s ease-in-out forwards;}
@keyframes slidein {0% { opacity: 0;transform: translateY(-100%);}
           100% {opacity: 1;transform: translateY(0);}}
          
.grid-container {
    display: grid;
    grid-template-areas:
    'main main main save save save' ; 
    background-color:lightslategray;
    font-family:'Lora', serif;
    margin-top: 105px; 
}

.grayscale{
  filter: blur(3px);
  transition: filter 0.9s ease-in-out;
  border-radius: 20px;
  cursor:ew-resize;
}
.grayscale:hover {
  filter: blur(0);
}
.grayscale1{
  filter:grayscale(100%);
  transition: filter 0.9s ease-in-out;
  border-radius: 20px;
  cursor:ew-resize;
}
.grayscale1:hover {
  filter:grayscale(0);
}   

.grid-container > div {
    color: black;
    text-align: justify;
    font-size: 35px;
    width: 70%;
    margin-top: 50px;margin-left: 50px;
}   

.pic{padding-right: 100px;padding-top: 200px;}

.name{font-size: 50px;font-family: 'Lora', serif;opacity: 0;animation: slideIn 2s ease-in-out forwards;}
.eman{font-family: 'Lora', serif;opacity: 0;animation: slideIn 2s ease-in-out forwards;}

.center .doo ul{font-size: 40px;text-align: center;}
.center .doo .font{font-family: 'Oswald', sans-serif;font-size: 40px;padding-bottom: 70px;}
.center{background-color:wheat;display: flex;justify-content: center;}
.center > .doo{padding: 80px;padding-top: 60px;}

body > section > nav.back > p > i{font-size: 35px;color: #39FF14;}
.back{display: flex;align-items: center;justify-content: space-between;padding: 1% 4%;padding: 2rem;}

nav p {color: whitesmoke;font-size: 30px;text-decoration: none;cursor: pointer;}

nav p span {color:#39FF14;}

.nav-links{text-align: end;}

.nav-links ul li a {
  font-size: 25px;
  text-decoration: none;
  color: whitesmoke;
}

.nav-links ul li{display:inline-block;margin: 5px 20px;}

.nav-links ul li a::after{content: '';display: block;margin: auto;height: 3px;width: 0%;
background:limegreen;transition: .6s;}
.nav-links ul li a:hover:after{width: 100%;}

.tw { grid-area: header;
      font-size: 40px;
      display: flex;
      justify-content: end;
      margin-top: 80px;
      margin-bottom: 130px; 
      margin-right: 66px;
    }
.lc { grid-area: menu;font-size: 100px;margin-top: 111px;margin-left: 60px;}
.grid .tw ul li a{text-decoration: none;color:black;}
.grid .tw ul{margin-top: 75px;}
.grid {
  display: grid;
  grid-template-areas:
    'menu menu menu header header header'
    'main main main header header header';
  background-color:whitesmoke;
}

body > section > div.grid > a {text-decoration: none;}
.srbtn{
  background: orange;
  font-size: 20px;
  margin-left: 70px;
  width: 200px;
  height: 50px;
  overflow: hidden;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px black ;
}
.btn2{
  position: relative;
  width: 200px;
  height: 100px;
  margin-top: -100px;
  padding-top: 19px;
  background: black;
  left: -250px;
  transition: .3s;
}
.btntext{
  color: white;
  transition: .3s;
}
.btntext2{
  margin-top: 63px;
  margin-right: -130px;
  color: white;
}
.srbtn:hover .btn2{
  left: -130px;
}
.srbtn:hover .btntext{
  margin-left: 65px;
}
.srbtn:active{
  box-shadow: 0px 5px 6px black;
}
.grid .gt a:hover{
 background:rgb(241, 111, 64);
 border: 1px solid black;
}

#row{
  display: flex;
  justify-content: center;
  align-items: center;
}
#row1{font-size: 100px;}

.wrapper > h2{color: #fff;font-family: 'Lora', serif;font-weight: lighter;}

#pan:before{
  content: '';
  animation: mate infinite 8s;
  animation-delay: 2s;
  font-family: 'Lora', serif;font-weight: lighter;
}
@keyframes mate{
  0%{
    content: 'Student';
  }
  20%{
    content: 'Web Developer';
  }
  40%{
    content: 'Gamer';
  }
  60%{
    content: 'Designer';
  }
  80%{
    content: 'Photographer';
  }
  100%{
    content: 'Learner';
  }
}
